.main{
    width: 100vw;
    height: 100%;
    min-height: 90vh;
    background-color: black;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}
.search{
    height: 40px;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
}
.search #input{
    height: 38px;
    border: 1px solid rgb(240, 243, 236);
    outline: none;
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: left;
    padding:0 5%;
    width: 80%;
}
.search a{
    width: 10%;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eleccontent p{
    color: white;
    margin: 5%;
    text-align: justify;
}
.eleccontent h2{
    color: white;
    margin: 5%;
}