.main{
    width: 100vw;
    height: 100%;
    background-color: black;
    min-height: 90vh;
}
.main p{
    color: white;
    position: absolute;
    top: 70px;
    margin: 5%;
}
.search{
    width: 90%;
    height: 40px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 5%;
}
.search #input{
    width: 80%;
    height: 100%;
    padding: 0;
    outline: none;
}
.search #search-btn{
    width: 20%;
    height: 100%;
    background-color: rgb(31, 8, 123);
    color: white;
}