.main-solar{
    background-color: black;
    min-height: 90vh;
    display: flex;
    justify-content: center;
}
.cmain-solar{
    width: 90%;
}
.main-solar h1{
    color: white;
    
}
.main-solar p{
    color: white;
}