.solar img{
    width: 100vw;
}
.solar{
    height: 180vh;
}
.sbatter p{
    height: 10vh;
    width: 100vw;
    background-color: aqua;
    margin: 30px 0;
}
.fsolar p{
    height: 10vh;
    width: 100vw;
    background-color: aqua;
    margin: 30px 0;
}
.headsl{
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    position: fixed ;
    top: 0;
}
.slarr{
    width: 50%;
    background-color: blueviolet;
}
.batrr{
    width: 50%;
    background-color: cadetblue;
}