.solar img{
    width: 100vw;
    margin: 0;
    height: 30vh;
    position: sticky;
}
.solar{
    height: 100%;
}

.mainsolar{
    height: 90vh;
    overflow: hidden;
    position:sticky;
    top: 0vh;
    z-index: -2;
}
.mainsolar video{
    height: 100%;
}
.mainsolar p{
    position: absolute;
    left: 50%;
    top: 40%;
    transform:translate(-50%);
    width: 100%;
    height: 120px;
    font-size: 2em;
    font-weight: 750;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(181, 184, 187,0.7);
    object-fit: cover;
    text-align: center;
}
.mainsolar p a{
    font-size: 15px;
    position: absolute;
    right: 0;
    bottom: 0;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.fsolar{
    height: 90vh;
    margin-bottom: 10vh;
    background-color: black;
    background-size: cover;
    background-position: center;
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.mydet{
    display: flex;
    width: 100vw;
    background-color: rgb(11, 10, 10);
    height: 30vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mydet a{
    width: 100%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    height: calc(30vh/9);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 200;
    border-bottom: 1px solid rgb(65, 65, 65);
}
.banner{
    width: 100vw;
    position: absolute;
    right: 100vw;
}
.mydet img{
    z-index: 2;
    height: 30vh;
    width: 100%;
    position: absolute;
}
.mydet:hover img{
    transform: translateX(100vw);
    transition: all 0.5s;
}
.mydet:hover .banner{
    right: 0;
    transition: 0.7s;
}
.introsolar{
    height: 30vh;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.introsolar p{
    margin: 0;
}