.jsmain{
    background-color: black;
    min-height: 90vh;
    padding-bottom: 10vh;
    overflow-x: hidden;
}
.jsheader{
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 25px;
    height: 40px;
    background-color: rgb(146, 140, 140);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    top: 0;
}
.jscontents p{
    color: white;
    margin: 30px 7%;
    text-align:inherit;
}
.jscontents h2{
    color: white;
    margin: 30px 7%;
}
h3{
    color: white;
    margin: 30px 7%;
}