.contain{
    scroll-snap-type: y mandatory;
    height: 90vh;
    overflow-y: scroll;
}
.sec h1{
    color: wheat;
    width: 100vw;
    height: 10vh;
    margin: 0;
    background-color: rgb(90, 90, 90,0.8);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.sec{
    height: 90vh;
    width: 100vw;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.sec0{
    background-color: black;
    display: flex;
    flex-direction: column;
}
.sec1{
    background:url(./img/BE.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.sec2{
    overflow: hidden;
    background-color: black;
    height: 90vh;
}
.sec2 div{
    height: 40vh;
    width: 100vw;
}
.mt10vh{
    margin-top: 10vh;
}
.sec3{
    background-color: blueviolet;
}
.sec4{
    background-color: brown;
}
.sec5{
    background-color: aqua;
}
.sec6{
    background-color: antiquewhite;
}
.sec6 input{
    height: 20px;
    outline: none;
}
.fj{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fj img{
    width: 200px;
    height: 200px;
}
.fj p{
    color: aliceblue;
    margin: 10vh 15vw;
    text-align: center;
}
.sj{
    width: 100vw;
    height: 70vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}
.sec1 img{
    height: 60%;
    margin-right: 25px;
}
.sec1 div{
    background-color: rgb(78, 77, 77,0.5);
    margin: 10px 0;
    padding: 10px 7vw;
    display: flex;
    height: 17vh;
    align-items: center;
}
.cropre{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.clbtn{
    background-color: black;
    color: white;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
}
.sec2 img{
    width: 100px;
}
.sec3 img{
    width: 100vw;
}
.sec4 img{
    width: 100px;
}
.nest{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}
.exp{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(128, 126, 130); 
}
video{
    background-color: aqua;
}