.contain{
    scroll-snap-type: y mandatory;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.sec h1{
    color: rgb(255, 255, 255);
    width: 100vw;
    height: 10vh;
    margin: 0;
    background-color: rgba(29, 28, 28, 0.8);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 22px;
}
.sec{
    height: 90vh;
    width: 100vw;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.sec0{
    background-color: white;
    display: flex;
    flex-direction: column;
}
.sec1{
    background:url(./img/BE.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.sec2{
    overflow: hidden;
    height: 90vh;
}
.sec2 div{
    height: 40vh;
    width: 100vw;
}
.mt10vh{
    margin-top: 10vh;
}
.sec3{
    background-color: rgb(252, 252, 252);
    height: 90vh;
    position: relative;
    overflow: hidden;
}
.sec4{
    background:url(./img/iot.jpg);
    background-size: cover;
    background-position: center;
}
.sec5{
    background-color: rgb(192, 224, 224);
    
}
.sec5 h2{
    margin:10px 15vw;
    text-align: center;
}
.sec5 p{
    margin: 5vw;
    text-align: justify;
}
.sec6{
    background-color: rgb(195, 170, 11);
}
.sec6 input{
    height: 30px;
    outline: none;
    width: 70vw;
    text-align: center;
}
.sec6 p{
    font-size: 28px;
    font-weight: 600;
}
.sec6 button{
    margin: 20px;
    padding: 5px 10px;
    border-radius: 5px;
}
.fj{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fj img{
    width: 25vw;
    margin: 0 10%;
}
.fj p{
    color: black;
    margin: 0 5%;
    font-size: 12px;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-column a{
    color:black;
    background-color: rgb(255, 255, 255);
    width: 100px;
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
    margin-top: 4px;
    box-shadow: 0 0 3px black;

}
.fj div{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(94, 94, 94);
}
.fj .mainjsp{
    height: 30vh;
    width: 100vw;
    border-bottom: 1px solid black;
    background-color: #000;
}
.fj .mainjsp p{
    color: white;
    width: 60vw;
    font-size: 15px;
}
.sj{
    width: 100vw;
    height: 70vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}
.sec1 img{
    height: 60%;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: black;
    box-shadow: 0 0 5px black;
}
.sec1 div{
    display: flex;
    padding: 0 5%;
    margin-bottom: calc(10vh/3);
    height: calc(60vh/3);
    align-items: center;
}
.cropre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(123, 122, 122,0.8);
    border-radius: 5%;
    box-shadow: 0 0 10px white;
}
.cropre p{
    font-size: 18px;
    color: white;
}
.clbtn{
    background-color: black;
    color: white;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
.scrolld{
    color: white;
    position: absolute;
    bottom: 20px;
}
.sec2 img{
    margin-bottom: 5px;
}
.sec2 p{
    font-size: 15px;
    padding: 0 10vw;
    text-align: center;
    color: rgb(255, 255, 255);
}
.sec2 a{
    width: 180px;
    background-color: transparent;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(248, 247, 249);
    box-shadow: 0 0 5px white;
    font-weight: 600;
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
}
.sec3 img{
    width: 90vw;
}
.sec3 p{
    font-size: 1.2em;
    padding: 0 30px;
    text-align: center;
}
.sec3 a{
    width: 150px;
    height: 50px;
    background-color: orange;
    margin-bottom: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: aliceblue;

}
.sec4 img{
    width: 100px;
    height: 100px;
    margin-left: 5%;
}
.sec4 p{
    margin: 0 18px;
    margin-bottom: 10px;
    font-size: 14px;
}
.bi-robot{
    width: 100vw;
    height: 20vh;
    padding: 5vh 0;
    background-color: rgb(240, 240, 240,0.5);
}
.sec4 a{
    padding: 3px 10px;
    background-color: transparent;
    color: #000;
    font-size: 15px;
    font-weight: 800;
    width: 50%;
    text-align: center;
    text-decoration: none;
    border: 2px solid #000;
    margin-top: 10px;
    background:white;
    
}
.sec4 div div{
    width: 100vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cio{
    display: flex;
    flex-direction: column;
    position: relative;
}
.ndre{
    background-color: rgb(136, 0, 255,0.7);
    height: 30vh;
}
.raspi{
    background-color: rgb(247, 166, 18,0.7);
}
.iotcrop{
    display: flex;
    width: 100vw;
    flex-direction: column;
    height: 80vh;
    position: absolute;
    top: 10vh;
    margin: 0%;
}
.nest{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-bottom: 3px solid white;
}
.nest img{
    border-radius: 50%;
    width: 15vh;

}
.exp img{
    border-radius: 50%;
    width: 15vh;
}
.exp{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 1, 1); 
}
.sec3 video{
    width: 100vw;
    position: absolute;
    bottom: 0;
    border-top: 3px solid black;
}
.sec4point1{
    background:url(./img/rustt.jpg);
    display: flex;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: left;
}
.sec4point1 img{
    width: 50%;
    margin-top: 7vh;
}
.sec4point1 a{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    background-color: rgb(18, 18, 18,.7);
}