.cropp{
    position: absolute;
    top: 15vh;
    padding:0 20vw;
}
.cropp p{
    font-size: 19px;
    font-weight: 500;

}
.contentelec{
    background-color: rgb(255, 255, 255);
    height: 90vh;
    width: 85vw;
    overflow-y: scroll;
}
.founder h1{
    color: rgb(255, 255, 255);
    font-size: 24px;
}
.founder{
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    padding: 0 5vw;
}
.founder div{
    color: rgb(255, 255, 255);
}
.future{
    height: 90vh;
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    padding: 0 5vw;
}
.elecnav{
    width: 15vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    background-color: rgb(77, 79, 79);
    position: sticky;
    top: 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.cropcon{
    display: flex;
    margin-bottom: 10vh;
}
.elecnav li{
    width: 100%;
    list-style: none;
    height: 25%;
    background-color: rgb(67, 65, 65);
    border-bottom: 1px solid rgb(247, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
}
.elecnav a{
    color: white;
    text-decoration: none;
    width: 100%;
    height: 14vw;
    transform: rotate(-90deg);
    padding:0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-transform: uppercase;
}
.elecnav a:hover{
    color: black;
    font-weight: 700;
    border-bottom:5px solid rgb(30, 92, 228) ;
    transition: all .5s;
}
.elecnav a:hover li{
    border-right: 1px solid black;

}
.mmel{
    height: 90vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.mmel img{
    z-index: 2;
    width: 30vh;
    position: absolute;
    bottom: 0;
    left: 0vw;
}
.mmel video{
    z-index: 1;
    height: 130%;
    opacity: 1;
}
.mmel p{
    z-index: 2;
    position: absolute;
    top: 40%;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    background-color:transparent;
    border-top:4px solid black;
    border-bottom:4px solid black;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro{
    height: 90vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.basic{
    height: 90vh;
    background-color: rgb(125, 126, 126);
    display: flex;
    justify-content: center;
    align-items: center;
}