@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
.app{
  width: 100vw;
  height: 100vh;
  position: relative;
  object-fit: cover;
  font-family: monospace;
}
.crophead{
  position: fixed;
  z-index: 10;
  bottom: 0;
  height: 10vh;
}
.hidd{
  display: none;
}
@media screen and (min-width:600px) {
  .hidd{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
      font-size: 20px;
      z-index: 999999;
      position: fixed;
      flex-direction: column;
      top: 0;
      background-color: aliceblue;
  }
}