.app{
  width: 100vw;
  height: 100vh;
  position: relative;
  object-fit: cover;
}
.crophead{
  position: fixed;
  z-index: 10;
  bottom: 0;
  height: 10vh;
}
.firstlook{
  z-index: 5;
  width: 100%;
  height: 100vh;
  background-color: black; 
  position: absolute;
  display: flex;
}
